h1, p {
     text-align: center;
}

img {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.main-header {
    background-image: linear-gradient(rgb(65, 216, 211), rgb(115, 207, 101));
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 48px;
}

.header-info {
    text-align: left;
    color: rgb(198, 159, 60);
    position: absolute;
    left: 0;
    padding: 0;
    margin: 14px 14px 0 14px
}

.header-info a {
    padding: 0;
    text-decoration: none;
}

.header-info a:hover {
    background-color: transparent;
}

.jumbotron {
    margin-top: 9%; 
}

nav {
    position: absolute;
    right: 0;
    display: flex;
}

a {
    text-decoration: none;
    color: rgba(70, 64, 186, 0.882);
    padding: 15px;
    float: left;
}

a:hover {
    background-color: burluwood;
}

.title {
    font-style: italic;
    color: black
}

h1, h2, h3, p {

    text-align: center;
    color: black
}

.items {
    display: flex;
    justify-content: center;
}

.item {
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color: gainsboro;
}

.portrait {
    max-width: 100%;
    max-height: 350px;
}

h3, p {
    text-align: center;
    padding: 5px;
    color: steelblue;
}

.div {
    padding: 10px;
}

body {
    background-image: url("assets/bg.jpg");
    background-size: cover;
}

table, tr, th, td {
    border: 2px solid rgb(25, 137, 25);
    border-collapse: collapse;
    padding: 5px;
}

th {
    color: white;
    background-color: rgb(14, 208, 14);
}

tr, th {
    height: 50px;
    width: 200px;
    text-align: center;
    vertical-align: center;
}

td {
    color: rgb(141, 185, 199);
}

.container {
    display: flex;
    flex: warp;
    justify-content: center;
    align-items: center;
}

.tab {
    background-color: gainsboro;
    width: 300px;
    padding: 40px;
    margin: 20px;
    border-radius: 20px;
}

h1.name {
    font-size: 30px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    color: black;
}

h2.price {
    font-size: 38px;
    color: black;
}

.list {
    list-style-type: disc;
    margin-bottom: 50px;
    text-align: left;
}

.list li {
    margin-top: 20px;
    color: black;
}

hr {
    height: 7ps;
    width: 80%;
    margin: auto;
    background: rgb(219, 85, 75);
    border: none;
    border-radius: 80px;
    margin-top: 20px;
}

button {
    background-color: rgb(219, 85, 75, 0.616);
    border-radius: 8px;
    color: white;
    padding: 8px;
    border: none;
    font-size: 20px;
}

button:hover {
    transform: scale(1.2, 1.2);
    background: rgb(219, 85, 75);
    cursor: pointer;
}

div.about {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 30px;
    background-color: blanchedalmond;
    width: 80%;
}

.about {
    text-align: left;
    color: black;
    padding: 10px;
    width: 100%;
}

div.image-about {
    margin-bottom: auto;
    margin-top: auto;
}

img.about-us {
    width: 300px;
}

footer {
    /* background-color: rgb(245, 235, 220); */
    background-image: linear-gradient(rgb(252, 232, 204), rgb(197, 141, 137));
}

.main-footer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.left-footer {
    margin-right: auto;
    margin-left: 40px;
}

.right-footer {
    margin-left: auto;
    margin-right: 40px;
}

.center-footer {
    margin-left: 20px;
    margin-right: 20px;
}

.info-left {
    color: black;
    text-align: left;
    width: 100%;
}

.info-right {
    color: black;
    text-align: left;
    width: 100%;
}

.info-center {
    color: black;
    text-align: center;
    width: 100%;
    padding-top: 5px;
    border-top: 1px solid rgb(146, 168, 133);
}

.fa-map-marked-alt, .fa-map-pin, .fa-address-book, .fa-phone {
    margin: 6px;
    color: rgb(219, 85, 75);
} 

.dancing-script-uniquifier {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

*{
  font-family: 'Dancing Script', cursive;
}

@media (max-width: 600px) {
    *{
        font-size: 2vw;
        margin: 2px;
    }
}