.contact-container {
    display: flex;
    justify-content: flex-start;
}

.illustration-img {
    margin: 0px;
    width: 800px;
}

.contact {
    display: inline-block;
    margin: 10px 30px;
    text-align: center;
}

.profile-contact-img {
    width: 200px;
}

.form-input {
    position: relative;
    width: 100%;
    border-bottom: 1px solid grey;
    outline: none;
    height: 48px;
    margin-bottom: 15px;
    padding: 0;
}

.input-item {
    position: absolute;
    top: 0;
    left: 0;
    border-style: none;
    outline: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    font-size: 15px;
    height: 100%;
}

.textarea-container {
    display: flex;
    justify-content: center;
}

.form-textarea {
    position: relative;
}

.textarea {
    border-style: none;
    border-bottom: 1px solid gray;
    outline: none;
    margin-top: 10px;
}

.sudmit {
    border-style: none;
    border-radius: 25px;
    color: aliceblue;
    background-color: rgb(38, 70, 83);
    margin: 5px;
    cursor: pointer;
}