.contact-container {
    display: flex;
    justify-content: flex-start;
}

.illustration-img {
    margin: 0px;
    width: 800px;
}

.contact {
    display: inline-block;
    margin: 10px 30px;
    text-align: center;
}

.profile-contact-img {
    width: 200px;
}

.form-input {
    position: relative;
    width: 100%;
    border-bottom: 1px solid grey;
    outline: none;
    height: 48px;
    margin-bottom: 15px;
    padding: 0;
}